*{
    margin: 0;
    padding: 0;
}
h1{
    font-family: 'Dancing Script', cursive;
    text-align: center;
}
canvas{
    padding: 0;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}